* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ten CSS w sumie jest do śmieci bo wysrodkowanie aplikacji powinno sie odbyc wlasnie w BODY  a nie we wrapperze - choc tak tez dziala */
body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    background-color: grey;
    color: aliceblue;
    font-family: 'Montserrat', 'sans serif';
}

.wrapper {
    position: absolute;
    width: 500px;
    background-image: linear-gradient(200deg, #373b3b 40%, #56545a 80%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    border: 1px solid black;
}

h1 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 10px;
}

p.info {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 200;
}

.calculator {
    display:flex;
}

.calculator option {
    color: #333;
}

input {
    display: block;
    background: none;
    width: 100px;
    flex-grow: 1;
    max-width: 200px;
    height: 50px;
    margin: 20px;
    outline: none;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: none;
}

#currency-left,
#currency-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: none;
    font-size: 24px;
    outline: none;
    border: none;
}

input:focus, 
select:focus {
    /* outline:none; */
    color: rgb(67, 171, 255)
}

.currency-color {
    color: aliceblue;

}

button {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: linear-gradient(200deg, #75e7f7 20%, #803cff 80%);
    cursor: pointer;
    /* zamiast marginem przesuwac buttona w dół wystarczy mu dać align-self:flex-end */
    /* margin-top: 80px; to usuwam */ 
    align-self: flex-end;
    border: none;
}

button:focus {
    outline: none;
    background-image: linear-gradient(200deg, #317fcc 20%, #1fc06a 80%);
    box-shadow: 0 5px 5px black;
}

.result {
    margin-top: 20px;
    margin-bottom: 20px;
}

.change-color {
    color: black;
}

.icon {
    color: white;
}